<div class="wrapper h-100 overflow-hidden  d-flex flex-column">
    <!-- Header -->
    <h2 class="border-bottom border-primary text-center pb-3 mb-0">{{formTitle}}</h2>

    <!-- Start: Project Form -->
    <form class="rounded shadow-sm bg-white p-4 mt-3 mt-sm-4 form-width  m-sm-auto overflow-auto"
        [formGroup]="projectForm">
        <!-- Start: Success Message -->
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" *ngIf="successMsg">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                <use xlink:href="#check-circle-fill" />
            </svg>
            Project Added Successfully.
        </div>
        <div class="alert alert-success d-flex align-items-center" *ngIf="updateMsg">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                <use xlink:href="#check-circle-fill" />
            </svg>
            Project Updated Successfully.
        </div>
        <!-- End: Success Message -->

        <section>
            <!-- Start:Project Name Field -->
            <div class="pb-3">
                <label for="name" class="fw-bold">Project Name</label>
                <small *ngIf="getControls['name'].errors && getControls['name'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <input type="text" class="form-control" formControlName="name">

                <!-- Start: Project Name Field Validation -->
                <div *ngIf="getControls['name'].touched && getControls['name'].errors || formSubmitted">
                    <small *ngIf="getControls['name'].errors && getControls['name'].errors['required']"
                        class="text-danger">
                        name is required.
                    </small>
                </div>
                <!-- End: Project Name Field Validation -->
            </div>
            <!-- End: Project Name Field -->

            <!-- Start: StartDate Field -->
            <div class="pb-3">
                <label for="startDate" class="fw-bold">Start Date</label>
                <small *ngIf="getControls['startDate'].errors && getControls['startDate'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <input type="date" class="form-control" formControlName="startDate">

                <!-- Start: StartDate Field Validation -->
                <div *ngIf="getControls['startDate'].touched && getControls['startDate'].errors || formSubmitted">
                    <small *ngIf="getControls['startDate'].errors && getControls['startDate'].errors['required']"
                        class="text-danger">
                        startDate is required.
                    </small>
                </div>
                <!-- End: StartDate Field Validation -->
            </div>
            <!-- End: Start Date Field -->

            <!-- Start: DueDate Field -->
            <div class="pb-3">
                <label for="dueDate" class="fw-bold">Due Date</label>
                <small *ngIf="getControls['dueDate'].errors && getControls['dueDate'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <input type="date" class="form-control" formControlName="dueDate">

                <!-- Start: DueDate Field Validation -->
                <div *ngIf="getControls['dueDate'].touched && getControls['dueDate'].errors || formSubmitted">
                    <small *ngIf="getControls['dueDate'].errors && getControls['dueDate'].errors['required']"
                        class="text-danger">
                        *dueDate is required.
                    </small>
                </div>
                <!-- End: DueDate Field Validation -->
            </div>
            <!-- End: DueDate Field -->

            <!-- Start: Project Manager Field -->
            <div class="pb-3">
                <label for="projectManager" class="fw-bold">Project Manager</label>
                <small *ngIf="getControls['projectManager'].errors && getControls['projectManager'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <select id="projectManager" class="form-select" formControlName="projectManager">
                    <option>Hiren Tandel</option>
                    <option>Mitul Patel</option>
                    <option>Akshita Kapadia</option>
                    <option>Kevang Patel</option>
                    <option>Viral Patel</option>
                    <option>Binal Lad</option>
                    <option>Ronak Patel</option>
                </select>

                <!-- Start: Project Manager Field Validation -->
                <div
                    *ngIf="getControls['projectManager'].touched && getControls['projectManager'].errors || formSubmitted">
                    <small
                        *ngIf="getControls['projectManager'].errors && getControls['projectManager'].errors['required']"
                        class="text-danger">
                        projectManager is required.
                    </small>
                </div>
                <!-- End: Project Manager Field Validation -->
            </div>
            <!-- End: Project Manager Field -->

            <!-- Start: Poject Team Members Field -->
            <div class="pb-3">
                <label for="teamMembers" class="fw-bold">Project Team Members</label>
                <small *ngIf="getControls['teamMembers'].errors && getControls['teamMembers'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <ng-multiselect-dropdown [settings]="settings" [data]="teamMembers" formControlName="teamMembers">
                </ng-multiselect-dropdown>

                <!-- Start: Project Team members Field Validation -->
                <div *ngIf="getControls['teamMembers'].touched && getControls['teamMembers'].errors || formSubmitted">
                    <small *ngIf="getControls['teamMembers'].errors && getControls['teamMembers'].errors['required']"
                        class="text-danger">
                        teamMembers is required.
                    </small>
                </div>
                <!-- End: Project Team members Field Validation -->
            </div>
            <!-- End: Poject Team Members Field -->

            <!-- <div class="multiselect">
                <div class="selectBox" (click)="showCheckboxes()">
                  <select>
                    <option>Select an option</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div #checkbox>
                  <label for="one">
                    <input type="checkbox" id="one" />First checkbox</label>
                  <label for="two">
                    <input type="checkbox" id="two" />Second checkbox</label>
                  <label for="three">
                    <input type="checkbox" id="three" />Third checkbox</label>
                </div>
              </div> -->

            <!-- Start: Status Field -->
            <div class="pb-3">
                <label for="status" class="fw-bold">Status</label>
                <small *ngIf="getControls['status'].errors && getControls['status'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <select id="status" class="form-select" formControlName="status">
                    <option>Started</option>
                    <option>In Progress</option>
                    <option>Done</option>
                </select>

                <!-- Start: Status Field Validation -->
                <div *ngIf="getControls['status'].touched && getControls['status'].errors || formSubmitted">
                    <small *ngIf="getControls['status'].errors && getControls['status'].errors['required']"
                        class="text-danger">
                        status is required.
                    </small>
                </div>
                <!-- End: Status Field Validation -->
            </div>
            <!-- End: Status Field -->

            <!-- Start: Description Field -->
            <div>
                <label for="description" class="fw-bold">Description</label>
                <small *ngIf="getControls['description'].errors && getControls['description'].errors['required']"
                    class="text-danger fw-bold">
                    *
                </small>
                <textarea class="form-control" formControlName="description"></textarea>

                <!-- Start: Descrption Field Validation -->
                <div *ngIf="getControls['description'].touched && getControls['description'].errors || formSubmitted">
                    <small *ngIf="getControls['description'].errors && getControls['description'].errors['required']"
                        class="text-danger">
                        description is required.
                    </small>
                </div>
                <!-- End: Descrption Field Validation -->
            </div>
            <!-- End: Description Field -->
        </section>

        <!-- Start: Savve and Cancel Button -->
        <div class="d-flex align-items-center justify-content-between justify-content-md-center mt-3">
            <button type="button" class="btn btn-primary me-2 ps-4 pe-4 text-white" (click)="onSubmit()">Save</button>
            <button type="button" class="btn btn-secondary" routerLink="/project">Cancel</button>
        </div>
        <!-- End: Savve and Cancel Button -->
    </form>
    <!-- End: Project Form -->
</div>