<div class="wrapper">
    <!-- Header -->
    <h3 class="border-bottom border-primary pb-2">HOME</h3>

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <span class="card-text text-muted">Welcome Adminstrator !!!</span>
            </div>
        </div>
    </div>

    <section>
        <div class="row mt-2 g-3">
            <!-- Start: Employee Card -->
            <div class="col-12 col-sm-6 col-lg-4" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Employees</h5>
                        <h2 class="card-text text-muted">23</h2>
                        <small>
                            <a href="users" class="card-link d-flex justify-content-end text-decoration-none">View
                                all Employees</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Employee Card -->

            <!-- Start: Project Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Projects</h5>
                        <h2 class="card-text text-muted">45</h2>
                        <small>
                            <a href="projects"
                                class="card-link d-flex justify-content-end text-decoration-none">View all Projects</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Project Card -->

            <!-- Start:Task Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Tasks</h5>
                        <h2 class="card-text text-muted">77</h2>
                        <small>
                            <a href="tasks" class="card-link d-flex justify-content-end text-decoration-none">View
                                all Tasks</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Task Card -->
        </div>
    </section>

    <h4 class="border-bottom border-primary pb-2 mt-3">Tasks Status</h4>
    <section class="rounded bg-white shadow-sm p-2 p-md-4 mt-4">
        <div class="row g-3">
            <!-- Start: Employee Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks In Pending</h5>
                        <h2 class="card-text text-white">75</h2>
                    </div>
                </div>
            </div>
            <!-- End: Employee Card -->

            <!-- Start: Project Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks In Progress</h5>
                        <h2 class="card-text text-white">34</h2>
                    </div>
                </div>
            </div>
            <!-- End: Project Card -->

            <!-- Start:Task Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks Done</h5>
                        <h2 class="card-text text-white">56</h2>
                    </div>
                </div>
            </div>
            <!-- End: Task Card -->
        </div>
    </section>
</div>