<div class="wrapper">
    <!-- Header -->
    <h3 class="border-bottom border-primary pb-2">HOME</h3>

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <span class="card-text text-muted">Welcome Adminstrator !!!</span>
            </div>
        </div>
    </div>

    <section>
        <div class="row mt-2 g-3">
            <!-- Start: Employee Card -->
            <div class="col-12 col-sm-6 col-lg-4" *ngIf="totalEmployees">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Employees</h5>
                        <h2 class="card-text text-muted">{{totalEmployees.length}}</h2>
                        <small>
                            <a href="employee" class="card-link d-flex justify-content-end text-decoration-none">View
                                all</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Employee Card -->

            <!-- Start: Project Card -->
            <div class="col-12 col-sm-6 col-lg-4" *ngIf="totalProjects">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Projects</h5>
                        <h2 class="card-text text-muted">{{totalProjects.length}}</h2>
                        <small>
                            <a href="project" class="card-link d-flex justify-content-end text-decoration-none">View
                                all</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Project Card -->

            <!-- Start:Task Card -->
            <div class="col-12 col-sm-6 col-lg-4" *ngIf="totalTasks">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Tasks</h5>
                        <h2 class="card-text text-muted">{{totalTasks.length}}</h2>
                        <small>
                            <a href="task" class="card-link d-flex justify-content-end text-decoration-none">View
                                all</a>
                        </small>
                    </div>
                </div>
            </div>
            <!-- End: Task Card -->
        </div>
    </section>

    <h4 class="border-bottom border-primary pb-2 my-3">Tasks Status</h4>
    <section class="rounded bg-white shadow-sm p-2 p-md-4">
        <div class="row g-3" *ngIf="totalTasks">
            <!-- Start: Employee Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks In Pending</h5>
                        <h2 class="card-text text-white">{{pending.length}}</h2>
                    </div>
                </div>
            </div>
            <!-- End: Employee Card -->

            <!-- Start: Project Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks In Progress</h5>
                        <h2 class="card-text text-white">{{inProgress.length}}</h2>
                    </div>
                </div>
            </div>
            <!-- End: Project Card -->

            <!-- Start:Task Card -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title text-white">Tasks Done</h5>
                        <h2 class="card-text text-white">{{done.length}}</h2>
                    </div>
                </div>
            </div>
            <!-- End: Task Card -->
        </div>
    </section>
</div>