<div class="wrapper h-100 d-flex flex-column overflow-hidden">
    <!-- Header -->
    <h2 class="border-bottom border-primary text-center pb-3 mb-0">Employees List</h2>
    <section class="wraapper-content rounded-3 bg-white shadow-sm p-3 mt-4 list-border overflow-auto">
        <div class="d-flex justify-content-between mt-3 mb-3">
            <input type="text" class="form-control w-25 text-truncate" placeholder="Search Here..."
                [(ngModel)]="searchText" (ngModelChange)="onSearch()">
            <button class="btn btn-primary text-white" routerLink="/employee/add">+ Add Employee</button>
        </div>
        <div class="table-wrapper overflow-hidden" *ngIf="isTableView">
            <div class="overflow-auto border">
                <table class="table table-bordered mb-0 w-100 position-relative">
                    <thead class="thead">
                        <tr class="table-header">
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">City</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="newEmployeeList as result">
                        <tr *ngFor="let items of result ,let i=index">
                            <th scope="row" class="text-center">{{i+1}}</th>
                            <td class="table-text text-truncate">{{items?.firstName +" "+ items?.lastName}}</td>
                            <td class="table-text text-truncate">{{items?.email}}</td>
                            <td>{{items?.city}}</td>
                            <td class="text-center">
                                <span class="icon-edit cursor-pointer pe-3" [routerLink]="['edit',items.id]"></span>
                                <span class="icon-delete cursor-pointer pe-3" (click)="onDelete(items.id)"></span>
                            </td>
                        </tr>
                        <div *ngIf="result.length === 0 && searchText" class="fw-bold mt-3 text-nowrap">No Record Found
                        </div>
                    </tbody>
                </table>
            </div>
            <app-pagination [items]="employeeList" [itemsPerPage]="4" (changePage)="changePage($event)"
                class="d-flex justify-content-center align-items-center mt-4"></app-pagination>
        </div>

        <div *ngIf="isCardView">
            <div *ngIf="(employeeList | search:searchText) as result">
                <div class="row g-3" *ngFor="let items of result, let i=index">
                    <!-- Start:Task Card -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="card-title d-flex">
                                    <label for="id" class="pe-2 fw-bold">#:</label>
                                    <div>{{i+1}}</div>
                                </div>
                                <div class="card-title d-flex">
                                    <label for="name" class="pe-2 fw-bold">Name:</label>
                                    <div class="text-truncate">{{items?.firstName +" "+ items?.lastName}}</div>
                                </div>
                                <div class="card-title d-flex">
                                    <label for="startDate" class="pe-2 fw-bold text-nowrap">E-mail:</label>
                                    <div class="text-truncate">{{items?.email}}</div>
                                </div>
                                <div class="card-title d-flex">
                                    <label for="dueDate" class="pe-2 fw-bold">City:</label>
                                    <div>{{items?.city}}</div>
                                </div>
                                <div class="card-title">
                                    <label for="action" class="pe-2 fw-bold">Action:</label>
                                    <span class="icon-edit pe-4 cursor-pointer" [routerLink]="['edit',items.id]"></span>
                                    <span class="icon-delete cursor-pointer" (click)="onDelete(items.id)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Task Card -->
                </div>
                <div *ngIf="result.length === 0 && searchText" class="fw-bold mt-3 text-nowrap">No Record Found
                </div>
            </div>
        </div>

        <div *ngIf="!employeeList?.length && !searchText" class="fw-bold mt-3 text-nowrap">No Employee Inserted</div>
    </section>
</div>